.body-content {
    margin-bottom: 0!important;
    padding-bottom: 0!important
}
.py-16 {
    padding-top:0rem!important
}

.mb-2 {
    margin-bottom: -4.5rem!important
}


.gemini_2019_hero-right {
    margin-top: 6%;
}
.gemini_2019_header {
    min-height: 639px;
    background-image: url("https://images.ctfassets.net/wfptrcrbtkd0/4CztBMyePNUSonWl4fGyaZ/7ec06c8200e6e52af101c070f826984b/Image_Gemini_Landing_Page_Hero_BG_2019.jpg");
    background-repeat:no-repeat;
    background-size:133%;
    background-position: 58% 0%;
}

.gemini_2019_congrats {
padding-top: 5%;
}

.footer-top {
  background-color: #060606!important
}


.gemini_2019_logo {
    display: block;
    margin:0 auto;
    padding-top: 0%;
}

.gemini_2019_border-bottom {
    border-bottom: 1px solid #c5c5c5;
}

.text-yellow {
    color:#FDC000
}

.button-yellow {
    background-color: #FDC000!important;
    border: 1px solid #FDC000!important;
    color:#4A4A4A!important
}

.gemini_2019_cta {
    display: block
}

ul {
    margin:0em!important
}

.gemini_2019_right-headline  {
  margin-top:12rem;
  font-size: 1.85rem;
}
.text-4xl {
  font-size: 3rem
}




/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/



/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1600px) and (max-width: 3410px){

.gemini_2019_header {
min-height: 46rem;
    background-image: url("https://images.ctfassets.net/wfptrcrbtkd0/4CztBMyePNUSonWl4fGyaZ/7ec06c8200e6e52af101c070f826984b/Image_Gemini_Landing_Page_Hero_BG_2019.jpg");
    background-repeat:no-repeat;
    background-size:112%;
    background-position: 58% 0%;
}

.body-content {
    margin-bottom: 0!important;
    padding-bottom: 0!important
}
.py-16 {
    padding-top:0rem!important
}

.mb-2 {
    margin-bottom: -4.5rem!important
}


.gemini_2019_hero-right {
    margin-top: 6%;
}


.gemini_2019_logo {
    display: block;
    margin:0 auto;
    padding-top: 0%;
}

.gemini_2019_border-bottom {
    border-bottom: 1px solid #c5c5c5;
}

.text-yellow {
    color:#FDC000
}

.button-yellow {
    background-color: #FDC000!important;
    border: 1px solid #FDC000!important;
    color:#4A4A4A!important
}

.gemini_2019_cta {
    display: block
}

ul {
    margin:0em!important
}

.gemini_2019_right-headline  {
  margin-top:12rem;
  font-size: 1.85rem;
}
.text-4xl {
  font-size: 3rem
}
}

@media (min-width: 1475px) and (max-width: 1601px){
.gemini_2019_header {
    min-height: 560px;
    background-size: 107%;
}
}

@media (min-width: 1025px) and (max-width: 1280px){
  .gemini_2019_header {
    min-height: 555px;
    background-size: 128%;
  }
  .gemini_2019_logo {
      display: block;
      margin:0 auto;
      width: 70%;
  }
.gemini_2019_hero-right {
    margin-top: 13%;
}
.text-3xl {
    font-size: 2rem;
}
.gemini_2019_subheader {
  display:none
}
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px){
  .text-3xl {
      font-size: 2rem;
  }
  .gemini_2019_hero-right {
      margin-top: 10%;
  }
  .gemini_2019_subheader {
    display:none
  }
  .gemini_2019_header {
    min-height: 390px;
      background-image: url("https://images.ctfassets.net/wfptrcrbtkd0/4CztBMyePNUSonWl4fGyaZ/3ac08f9d364d9bd1bfde5889c358c8f0/Image_Gemini_Landing_Page_Hero_BG_2019.jpg");
      background-repeat:no-repeat;
      background-size:171%;
      background-position: 57% 0%;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {

.gemini_2019_header {
    max-height: 687px;
    background-size: 216%;
    background-position: 50% 0%;
}
.text-4xl {
    font-size: 2rem;
}

.gemini_2019_hero-right {

    width: 100%;
}
.gemini_2019_congrats {
padding-top: 0%;
}
}

@media (max-width: 751px) {
  .gemini_2019_subheader {
    display: none
  }
    .gemini_2019_header {
      background-size: 169%;
      background-position: 33% 0%;
  }
  .gemini_2019_hero-right {
    margin-top: 67%;
}

  }


@media (max-width: 560px) {
  .gemini_2019_header {
      max-height: 687px;
background-size: 243%;
      background-position: 32% 0%;
  }
  .gemini_2019_hero-right {
    margin-top: 94%;

}
}
@media (max-width: 508px){
  .gemini_2019_header {

      background-size: 288%;
      background-position: 35% 0%;
  }
  .gemini_2019_hero-right {
    margin-top: 112%;
}

}
@media (max-width: 434px){
.gemini_2019_subheader {
  display:none
}
.gemini_2019_header {
    min-height: 435px;
    background-size:282%;
    background-position: 37% 0%
}
.gemini_2019_logo {
  padding-top:0%
}
.gemini_2019_congrats{

}
.text-4xl {
    font-size: 2rem;
}
}
@media (max-width: 360px){
  .gemini_2019_header {
      background-size: 292%;
height: 460px;

  }
  .text-4xl {
    font-size: 2rem;
}

}
